!!!
%html
  %head
    %title Chat
    
    %script{ :type=> "text/javascript", :src => Rs('js/lib/jquery.js')}
    %script{ :type=> "text/javascript", :src => Rs('js/lib/jquery.scrollTo.js')}
    
    %link{ :type => "text/css", :rel => "stylesheet", :href => Rs('css/style.css') }
    
  %body
    %ul
      - if @logged_in
        %li
          = A("logout", :href => R(UserController, :logout))
          = "(#{@user.name})"
      - else
        %li= A("login", :href => R(UserController, :login))
      
    
    
    - if flash[:error]
      .error= flash[:error]
      
    - if flash[:message]
      .message= flash[:message]
      
    = @content
