!!!
%html
  %head
    %title= title
    
    %meta{ :http_equiv => "Content-Type", :content => "text/html; charset=UTF-8"}/
    
    %script{ :type=> "text/javascript", :src => Rs('js/lib/jquery.js')}
    %script{ :type=> "text/javascript", :src => Rs('js/lib/jquery.ui.js')}
    %script{ :type=> "text/javascript", :src => Rs('js/lib/jquery.scrollTo.js')}
    
    %link{ :type => "text/css", :rel => "stylesheet", :href => Rs('css/style.css') }
    %link{ :type => "text/css", :rel => "stylesheet", :href => Rs('css/tabs.css') }
    
  %body
    #header
      %h1= title
    
      %ul
        %li= A("home", :href => Rs())
    
        - if session[:user].nil?
          %li= A("login", :href => R(UserController, :login))
          %li= A("register", :href => R(UserController, :register))
        - else
          %li
            = A("logout", :href => R(UserController, :logout))
            = "(#{session[:user].name})"
    
    #tabs
      %ul
        %li
          %span
            %a{:href => '/'} Rooms
      
        - unless session[:rooms].nil?
          - session[:rooms].each do |id, room|
            %li
              %span
                %a{:href => "/room/#{id}"}= room.name
                %button#quit{ :value => id } X
          
    #main
      - if flash[:error]
        .error= flash[:error]
      
      - if flash[:message]
        .message= flash[:message]
        
      = @content
      
